
@font-face {
    font-family: burberry-house;
    font-weight: normal;
    src: url("/Fonts/burberry-house-regular.woff2");
}

@font-face {
    font-family: oracle-book;
    font-weight: normal;
    src: url(/Fonts/oracle-book\ \(1\).woff2);
}

@font-face {
    font-family: burberry-house;
    font-weight: 600;
    src: url(/Fonts/oracle-book-medium\ \(1\).woff2);
}

header a {
    color: black;
    text-decoration: none;
}

h1 {
    font-family: burberry-house;
    font-weight: bold;
    color: black;
}

h2 {
    font-family: burberry-house;
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

p {
    font-family: oracle-book;
    font-weight: normal;
}


@media (min-width: 865px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* main {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */


