
@font-face {
    font-family: burberry-house;
    font-weight: normal;
    src: url("/Fonts/burberry-house-regular.woff2");
}

@font-face {
    font-family: oracle-book;
    font-weight: normal;
    src: url(/Fonts/oracle-book\ \(1\).woff2);
}

@font-face {
    font-family: burberry-house;
    font-weight: 600;
    src: url(/Fonts/oracle-book-medium\ \(1\).woff2);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;

    color-scheme:light dark;
    
    --bg-header:light-dark(white, purple);
    --clr-header-a:light-dark(purple, white);


}


header {
    background-color: white;
    background-color: var(--bg-header);
    
    width: 100%;
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
}

header a {
    color: black;
    color:var(--clr-header);
    text-decoration: none;
}

header img{
    width: 10%;
    height: auto;
}

header img:nth-of-type(1) {
    margin-left: auto;
    height: auto;
    width: 3rem;
}

header img:nth-of-type(2) {
    margin-left: 0.75rem;
    margin-right: 4.5rem;
    width: 3rem;
}
    

h1 {
    font-family: burberry-house;
    font-weight: bold;
    color: black;
}

h2 {
    font-family: burberry-house;
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

p {
    font-family: oracle-book;
    font-weight: normal;
    margin: 1em;
}

nav {
	display: flex;
	flex-direction: column;
	position: fixed;
    inset: 0;
	z-index: 1000;
	background-color: var(--color-background);
	translate: 150% 0%;
	transition:translate .3s;
}

nav ul {
	display: flex;
	flex-direction: column;
    list-style-type: none;
}

nav button {
	position: absolute;
	right: 1rem;
	top: 1.5rem;
	border-style: none;
	width: 10%;
	background-color: var(--color-background);
}

nav img {
	width: 100%;
}

nav a {
    white-space: nowrap;
}

/*nals menu open is */ 
nav.toonMenu {
	translate: 0% 0%;
}

nav > ul > li > a {
	display: block;
	text-decoration: none;
	/* color: #111; */
	font-size: 20px;
	margin: 0.5rem;
}

nav > ul {
	margin-left: 0.5rem;
	list-style-type: none;
}

header > button {
	background-color: white;
	width: 10%;
	border-style: none;
	position: absolute;
	right: 0.5rem;
    margin-top: .5rem;
}

header > button > img {
	color: #111;
	width: 100%;
}

nav.toonMenu {
    translate: 0% 0%;
}

/* Wanneer het scherm groter wordt, komt de nav naast elkaar */

@media (min-width: 1200px) {
    nav {
        position: static;
        translate: none;
        background-color: transparent;
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }

    nav ul {
        flex-direction: row;
        gap: 1rem;
    }

    /* Niet laten zien op groot scherm */

    header > button, nav > button, nav p {
        display: none;
    }
}

@media (min-width: 1200px) {

    header { 
        display: flex;
        justify-content: flex-start;
        gap: 2rem; 
    }

    header h1 {
        order: 1;
    }

    header nav {
        translate: 0 0;
        transition: none;
        order: 2
    }

    header img {
        order: 3
    }
}

section p {
	text-align: center;
}

