/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	background-color: var(--color-background);
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	flex-direction: column;
}

li {
	list-style-type: none;
}

section {
	position: relative;
	width: 100;
	overflow: hidden;
}

img {
	width: 100%;
	object-fit: cover;
}

a {
	list-style-type: none;
	/* color: white; */
}



