/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	background-color: var(--color-background);
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	flex-direction: column;
}

li {
	list-style-type: none;
}

section {
	position: relative;
	width: 100%;
	overflow: hidden;
}

section div {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 1rem;
	padding: 1rem;
}

section a {
	list-style-type: none;
	left: 0%;
	margin-right: 1em;
	color: white;
}

img {
	width: 100%;
	object-fit: cover;
	top: 0%;
	height: 100%;
}

a {
	list-style-type: none;
	/* color: white; */
}

h2 { 
	color: white;
	top: 0;
}

footer h2 {
	color: black;
}

footer details summary::marker {
	content: "";
} 

footer details summary::-webkit-details-marker {
	display: none;
}

section:nth-of-type(1) {
	grid-column-start: 1;
	grid-column-end: -1;
}

section:nth-of-type(2) ul li {
	flex-basis: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
}

section:nth-of-type(2) {
	color: black;
	text-align: center;
}

section p {
	text-align: center;
}

main > section:nth-of-type(2) section ul {
	display: flex;
	overflow: auto;
	scroll-snap-type: mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;

	scrollbar-width: thin;
	scrollbar-color: black transparant; 
}

section:nth-of-type(5) ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	overflow: scroll;
}

section:nth-of-type(5) li {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 65vw;
}

section:nth-of-type(5) img {
	width: 100%;
	grid-row-start: 1;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 6;
	object-fit: cover;
}


@keyframes spin [
	to {
		rotate: 1turn
	}
} 